html{
    height: 100%;
    margin: 0;
}
body{
    margin: 0;
    background: linear-gradient(180deg, rgb(182, 159, 97), rgb(128, 89, 24)) fixed;
    height: 100%;
    overflow-anchor: none;
}
.imageLink {
    display: flex;
    justify-content: center;
}
.image {
    position: absolute;
    object-fit: cover;
    z-index: 2;
    top: 17em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    border: 0.6em double white;
    background: linear-gradient(to bottom, white, black);
    background-size: cover;
    background-origin: border-box;
    box-shadow: 0 0 0px black;
    animation: expand 1s forwards, Down 0.75s 0.5s forwards, Up 1s 0.9s forwards;
    transform: scale(0.01);
    transition: 0.3s;
}
.image:hover{
    height: 11.5em;
    width: 11.5em;
}
.container {
   position: relative;
   top: 8em;
   width: 45em;
   height: 115em;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 0.5em double white;
   margin: 0 auto;
   box-sizing: border-box;
   border-radius: 1em;
   background:rgb(59, 59, 59);
    
}
.content{
    position: absolute;
    width: 99%;
    height: 99.5%;
    box-sizing: border-box;
    background: rgb(29, 29, 29);
    border: double 0.2em transparent;
    border-radius: 0.5em;
    background-image: linear-gradient(rgb(26, 26, 26), rgb(26, 26, 26)), linear-gradient(to bottom, orange, gold);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.underline{
    position: absolute; 
    left: 50%;    
    transform: translateX(-50%);    
    margin-top: 0em;
    border-top: 1.4em solid white;
    border-bottom: 1.4em solid white;
    border-left: 1.4em solid white;
    border-right: 1.4em solid white;
    animation: appear 0.9s 1.4s forwards, extend 1s 2.2s forwards;
}
.ing-list {
    color: black;
    width: 90%;
    line-height: 1.4em;
    margin-top: 0.5em;
    animation: fadeIn 1s 5s forwards;
}
.instr-list {
    color: black;
    width: 90%;
    margin-top: 1em;
    animation: fadeIn 2s 5.5s forwards;
}
.instr-list li{
    margin-bottom: 1.5em;
}
.ing-text, .instr-text{
    position: absolute;
    font-size: 1.2em;
    top: -0.15em;
    animation: fadeIn 1s 5s forwards;
}

.recipe{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: green;
    font-weight: normal;
    font-size: 1.85em;
    margin-top: 1.5em;
    animation: recipeAppear 1s 3s forwards;
}
.ing-container, .instr-container, .nutrition-container{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 3em;
}

.separator{
    position: absolute;
    box-sizing: border-box;
    border: 0.1em solid white;
    height: 10%;
}
.time-container{
    display: flex;
    align-items: center;
    width: 20%;
    margin-left: -1em;
    height: 30%;
    justify-content: space-between;
}
.time{
    position: absolute;
    left: 28%;
}
.clock-container{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 4.5%;
}
.servings-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 6.6em;
    margin-left: 5em;
}
.servings{
    color: lightsalmon;
    font-size: 1.1em;
}
.servings-amount{
    font-size: 1.1em;
}
.nutrition-case{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    height: 100%;
    margin: 2em 2em 0 0;
    animation: fadeIn 2s 5.5s forwards;
}
.nutrition1{
    color: white;
    list-style-type: none;
    color: lightcoral;
}
.nutrition1-info, .nutrition2-info{
    color: white;
    list-style-type: none;
    font-size: 0.9em;
    margin-left: 2.5em;
}
.nutrition2 {
    color: white;
    color: lightcoral;
    list-style-type: none;
    margin-left: 8em;
}
.nutrition1 li, .nutrition2 li {
    margin-bottom: 0.67em;
}
.nutrition1-info li, .nutrition2-info li {
    margin-bottom: 0.75em;
}
.info {
    width: 70%;
    height: 2.5em;
    margin: 1em auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 0.25em double white;
    border-radius: 2em;
}
.description {
    
    position: relative;
    color: white;
    width: 90%;
    margin: 10em auto 0 auto;
    animation: fadeIn 2s 3.5s forwards;
}
@keyframes expand {
    from {transform: scale(0.01)} to {transform: scale(1)};
}
@keyframes Down {
    100% {top: 19em};
}@keyframes Up {
    100% {top: -7em};
    from {box-shadow: 0 0 0px black} to {box-shadow: 0 0 2.5em black};
}
@keyframes appear {
    from {opacity: 0} to {opacity: 1};
    from {margin-top: 0em} to {margin-top: 6em};

}
@keyframes extend {
    from {width: 0%} to {width: 70%};
}
@keyframes subExtend{
    from  {width: 0%} to {width: 50%};
}
@keyframes recipeAppear{
    from {margin-top: 1.5em} to {margin-top: 3.2em};
    from {opacity: 0} to {opacity: 1};
}
@keyframes fadeIn {
    from {opacity: 0} to {opacity: 1};
}